<div class="row p-2 rounded bg-white m-1 mt-3">

    <div class="col-md-1"></div>
        <div class="col-md-10 p-4 border-bottom border-2  ">
            <h3>Settings</h3>
        </div>
        <form [formGroup]="settingsForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          
                <div class="form-group p-4">
                <label for="exampleInputEmail1">Full Name</label>
                <input type="email" class="form-control  py-4" id="exampleInputEmail1" formControlName="firstName" aria-describedby="emailHelp" placeholder="Please enter your full name">
                <div  class="error-message" *ngIf="settingsForm.controls['firstName'].invalid && settingsForm.controls['firstName'].touched">
                    First Name is required.
                  </div>
                </div>

                <div class="form-group p-4">
                <label for="exampleInputUsername1">Username</label>
                <input type="Username" class="form-control py-4" id="exampleInputUsername1"  formControlName="username" placeholder="Please enter your username">
                <div  class="error-message" *ngIf="settingsForm.controls['username'].invalid && settingsForm.controls['username'].touched">
                    User Name is required.
                  </div>
                </div>

                <div class="form-group p-4">
                <label for="exampleInputEmail1">Email</label>
                <input type="email" class="form-control  py-4" id="exampleInputEmail1" formControlName="email" aria-describedby="emailHelp" placeholder="Please enter your email">
                <div  class="error-message" *ngIf="settingsForm.controls['email'].invalid && settingsForm.controls['email'].touched">
                    Email is required.
                  </div>
                  
                </div>

                <div class="form-group p-4">
                <label for="exampleInputUsername1">Phone Number</label>
                <input type="Username" class="form-control  py-4" id="exampleInputUsername1" formControlName="phone" placeholder="Please enter your phone number">
                <div  class="error-message" *ngIf="settingsForm.controls['email'].invalid && settingsForm.controls['email'].touched">
                    Phone Number is required.
                  </div>
                  
                </div>
           

            <div class="row">
                <div class="col-md-4 p-4 ms-3 d-inline"><button type="submit" class="btn p-2 text-white px-5" style="background-color: #20A6FC;">Update Profile</button></div>
                

        </div>
        
    </div>
</div>

</form>


