<div class="container">
<div class="row ">
    <div class="col-md-6 border h-75">
        <div class="row">
            <div class="col-md-12  p-3">
                <h5>All Messages</h5>
                <span class="float-right"></span>
            </div>
        </div>
        <div class="row pb-2 member p-1">    
            <div class="col-md-2 ">
                    <img class="img-fluid float-left" src="../../../../assets/images/Ellipse 175 (1).png" alt="Logo"><br>
                    <span class="text-success">&bull;</span>
            </div>
            <div class="col-md-8 ">
                <span class="font-weight-bold">Amazon HR Manager</span><br>
                <span class="text-secondery small">Congragulations!</span>
            </div>    
            <div class="col-md-2">
                <span class="float-right  small">10:55 AM</span>
                    <span class="rounded-circle bg-primary text-white "></span>
            </div>
        </div>
        <div class="row pb-2 p-1 member">    
            <div class="col-md-2 ">
                    <img class="img-fluid float-left" src="../../assets/images/Ellipse 175 (1).png" alt="Logo"><br>
                    <span class="text-success "></span>
            </div>
            <div class="col-md-8">
                <span class="font-weight-bold">Amazon HR Manager</span><br>
                <span class="text-secondery small">Thank You Sir!</span>
            </div>    
            <div class="col-md-2 ">
                <span class="float-right  small">10:56 AM</span> 
                
             <span class=" rounded-circle bg-primary text-white "></span>
            </div>
        </div>
    </div>
    <div class="col-md-6 border bg-light h-75">
        <div class="row border-bottom p-2">
            <div class="col-md-2 ">
                <img class="img-fluid float-left" src="../../assets/images/Ellipse 175.png" alt="Logo"><br>
                <span class="text-success">&bull;</span>
            </div>
            <div class="col-md-8 ">
                <span class="font-weight-bold">Aitrich HR Manager</span><br>
                <span class="text-secondery small">Online now</span>
            </div>    
            <div class="col-md-2">
            
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-md-8 mt-2 p-2 ">
                <div class="content-box float-right"></div>
                    <div class="col col-md-auto p-2 pb-3 w-auto outmsg mr-4 text-white ">
                        <p>Thank you for expressing interest to join Aitrich Technologies. To get you started with your application we will ask some questions.</p>
                        <span class="float-right  small">10:56 AM</span>
                    </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-8 mb-2 mt-2">
                <div class="content-box1 float-left "></div>
                <div class="col col-md-auto p-2 inmsg w-auto  text-secondary float-left">
                    <p>Proceed</p>
                    <span class="float-right  small">10:56 AM</span>
                </div>  
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-11 bg-white d-inline">
                <div class="form-group d-flex d-inline">
                    <input type="text" name="msgText" class="form-control border-0 ">
                    <span class="btn float-right"><img class="img-fluid" src="../../../../assets/images/"></span>
                </div>
            </div>
        </div>
    </div>
</div>
</div>